.card-img-top {
    display: block;
    padding: 10px;
    max-height: 300px;
    max-width: 300px;
    width: auto;
    height: auto;
}

.card {
    margin: 10px;
    text-align: center;
}

.type {
    background: fuchsia;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
}

h5 {
    cursor: pointer;
}