<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <a class="navbar-brand navbar-right" routerLink="/" >WAP Shop</a>

      <li>
        <div class="g-signin2" (click)="signIn()" *ngIf="profile === undefined"></div>
        <div *ngIf="profile !== undefined"><img [src]="profile.getImageUrl()" class="avatar"> Hello {{profile.getName()}} !&nbsp;&nbsp;</div>
        <div (click)="signOut()" *ngIf="profile !== undefined" class="sign-out">Sign out</div>
      </li>

      <li class="nav-item dropdown">
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/">Plugins <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link">My plugins</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/creation">Create plugin</a>
        </li>

    </ul>
  </div>
  
</nav>

<router-outlet></router-outlet>