<div class="container" *ngIf="pedal">
    <p class="h4">{{pedal.manufacturer}}</p>
    <a [href]="repoLink" id="repo-link"><u>{{pedal.repoLink}}</u></a>
    <br><br>
    <button (click)="modifier()">Modifier</button>
    <p class="h2">{{pedal.name}}</p>
    <div class="img-container">
        <img [src]="pictureUrl" alt="Card image cap">
    </div>

    <div class="types">
        <span class="type" *ngFor="let type of pedal.tags">
            {{type}}
        </span>
    </div>

    <p id="description">{{pedal.description}}</p>
    
</div>
